//aqui estão as variables que vamos usar nos arquivos scss

$header: rgba(122, 122, 122, 0.15);
$header-shadow:rgba(173, 173, 173, 0.25);
$font-color: #000000;
$button-color: #0C70F2;
$input-button-color: rgba(0, 0, 0, 0.30);
$font-button: #FFFFFF;
$input-border:  #7A7A7A;
$card-background: #B7B7B7;
$color-contrast: #0c70f2;
$font-color-Label: #323232;
$type-font-family:'Raleway',sans-serif;
